# Auto detect text files and perform LF normalization
* text=auto
Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/NeoDunggeunmoPro-Regular.asset filter=lfs diff=lfs merge=lfs -text
